{% extends "base.html" %}

{% block title %}Home - Track Times{% endblock %}

{% block content %}
    <h1 class="mb-4">My MK8DX Track Times</h1>
    <p>This application helps track and visualise Mario Kart 8 Deluxe personal bests in Time Trials.</p>

    <h2>About</h2>
    <p>This is a personal project to improve my coding skills and visualise my MK8DX TT improvements. This web app has a variety of features to help visualise your current PBs and different metrics.</p>
    <p>View your <b>timesheet</b> to see all the tracks in a table format, plus some overall statistics and graphs. Each track has a link to an <b>individual page</b> with convenient features and an improvement graph. Use the <b>update form</b> to add new PBs or remove times. If you can't decide which track to play next, use the <b>track picker</b> to randomly choose one based on some criteria.</p>
    <p>Note that some features will be incomplete, jank, or simply not implemented yet as this project is mainly for fun.</p>

    <h2>Helpful Links</h2>
    <p>
        Shroom WRs are sourced from <a href="https://mkwrs.com/mk8dx/" target="_blank">mkwrs.com/mk8dx/</a>.
        NITA WRs are sourced from <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBXBdqpurvBmR--bzj9RJmgr7HxAoWVZmlwmhaBK-LYf_BbXn8iAPdH-ogBtXiAwxlTkQgn45PkeRW/pubhtml" target="_blank">the NITA spreadsheet</a>.
    </p>
    <p>
        150cc Shroom standards: <a href="https://docs.google.com/spreadsheets/d/1SOlMNSsJE13AoN4JARTJ1Sx9Y-NBR-q5fWfgs5ChCSA/" target="_blank">source</a>.
        150cc NITA standards: <a href="https://docs.google.com/spreadsheets/d/1B1TBwcJ4mVbTwh-tHz11ljoBIVTxALymYsDwcVVFNBM/" target="_blank">source</a>.
        The standards are not 'official', so take them with a grain of salt.
    </p>
    <p>MK8DX Records YouTube channel: <a href="https://www.youtube.com/@MK8DXRecords" target="_blank">www.youtube.com/@MK8DXRecords</a>.</p>

    <h3 id="my-templates">boom's TT Templates</h3>
    <p>The following links are like spreadsheet versions of this website, and are a lot more practical at this stage. They are all made with Google Sheets. Please see the 'Info' tab for general explanations, changelogs, and credits.</p>
    <p> |
        <a href="https://docs.google.com/spreadsheets/d/1CkiNxsTM9PJQPI4yFEQLlBRbYJotVlxwZ7Tu7MqGXRI/" target="_blank">150cc Shrooms</a> |
        <a href="https://docs.google.com/spreadsheets/d/10RH19tfdSlxdQGYe_HOkJd4XwArIktxceUWpmpYMoDM/" target="_blank">200cc Shrooms</a> |
        <a href="/" target="_blank">150cc NITA (WIP)</a> |
        <a href="/" target="_blank">200cc NITA (WIP)</a> |
    </p>

    <h2>Glossary</h2>
    The following terminology is well-known in the community but listed here for clarity.
    <ul>
        <li>MK8D / MK8DX - Mario Kart 8 Deluxe</li>
        <li>TT / TA - time trial; time attack</li>
        <li>Track code - an abbreviation used to identify a track; e.g., Mario Kart Stadium = MKS</li>
        <li>PB / PR - personal best; personal record</li>
        <li>WR - world record</li>
        <li>BKT - best known time, usually in reference to a NITA WR</li>
        <li>Shroom - TT using mushrooms</li>
        <li>NITA - no item time attack, mushrooms are disallowed</li>
        <li>Meta Only - only a specific kart combination is allowed; motion controls are disallowed</li>
    </ul>

    <h2 id="contact-me">Contact Me</h2>
    <p>If you have suggestions or comments about anything, messaging me on Discord (boomslang5209) is probably best.</p>
    <p>Visit the source <a href="https://github.com/boomsl4nger/mk8dx-tts-vis">here (GitHub)</a>.</p>
{% endblock %}
