{% extends "base.html" %}

{% block title %}Timesheet{% endblock %}

{% block content %}
    <h1>Timesheet</h1>
    <a href="#overall-stats">To Overall Statistics</a>

    <!-- Filters form (change cc or items) -->
    <form method="GET" class="mb-3">
        <label for="cc" class="form-label">Select CC:</label>
        <select name="cc" id="cc" class="form-select d-inline w-auto">
            {% for cc in cc_categories %}
                <option value="{{ cc }}" {% if cc == selected_cc %}selected{% endif %}>{{ cc }}</option>
            {% endfor %}
        </select>

        <label for="items" class="form-label">Select Item Type:</label>
        <select name="items" id="items" class="form-select d-inline w-auto">
            {% for item in item_options %}
                <option value="{{ item }}" {% if item == selected_items %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <!-- The actual timesheet -->
    <!-- See: https://datatables.net/manual/data/orthogonal-data#HTML-5 -->
    <table id="timesheetTable" class="table hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Track</th>
                <th>Time</th>
                <th>Standard</th>
                <th>To Next</th>
                <th>WR</th>
                <th>Diff</th>
                <th>Diff (Norm)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in times %}
            <tr>
                <td>{{ row.TrackNo }}</td>
                <td>{{ row.TrackName }}</td>
                <td data-sort="{{ row.TimeNum }}">{{ row.Time }}</td>
                <td class="colour-rank" data-sort="{{ row.StandardNum }}">{{ row.Standard }}</td>
                <td data-sort="{{ row.StandardDiffNum }}">{{ row.StandardDiff }}</td>
                <td data-sort="{{ row.WRNum }}">{{ row.WR }}</td>
                <td class="colour-diff" data-sort="{{ row.WRDiffNum }}">{{ row.WRDiff }}</td>
                <td>{{ "%.3f"|format(row.WRDiffNorm) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Overall statistics -->
    <h2 id="overall-stats">Overall Statistics</h2>
    <table class="table table-responsive table-bordered table-sm w-auto">
        <thead>
            <th>Metric</th><th>Score</th>
        </thead>
        <tbody>
            {% for k,v in overall_stats.items() %}
            <tr>
                <td>{{ k }}</td>
                {% if k == "Overall Rank" %}
                    <td class="colour-rank">{{ v }}</td>
                {% elif k == "Diff Average" or k == "Diff Median" %}
                    <td class="colour-diff" data-sort="{{ v[0] }}">{{ v[1] }}</td>
                {% else %}
                    <td>{{ v }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#top">Back to Top</a>
{% endblock %}

{% block scripts %}
    <!-- <script defer src="{{ url_for('static', filename='timesheet.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='timesheet.js') }}"></script>
{% endblock %}
