{% extends "base.html" %}

{% block title %}{{ track_name }} ({{ selected_cc }} {{ selected_items }}){% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ track_name }} ({{ track_abbrev }})</h1>
    <a href="{{ url_for('timesheet', cc=selected_cc, items=selected_items) }}">Back to Timesheet</a>

    <!-- Insertion alerts -->
    {% include "components/insert_time_alerts.html" %}

    <!-- Deletion alert and modal -->
    {% include "components/delete_time_modal.html" %}

    <!-- Filters form (change cc or items) -->
    <form method="GET" class="mb-3">
        <input type="hidden" name="track" value="{{ track_name }}">

        <label for="cc" class="form-label">Select CC:</label>
        <select name="cc" id="cc" class="form-select d-inline w-auto">
            {% for cc in cc_categories %}
                <option value="{{ cc }}" {% if cc == selected_cc %}selected{% endif %}>{{ cc }}</option>
            {% endfor %}
        </select>

        <label for="items" class="form-label">Select Item Type:</label>
        <select name="items" id="items" class="form-select d-inline w-auto">
            {% for item in item_options %}
                <option value="{{ item }}" {% if item == selected_items %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <!-- Timesheet excerpt -->
    <div class="row">
        <table class="table hover compact" id="tsExcerpt">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track</th>
                    <th>Time</th>
                    <th>Standard</th>
                    <th>To Next</th>
                    <th>WR</th>
                    <th>Diff</th>
                    <th>Diff (Norm)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in ts_excerpt %}
                <tr>
                    <td>{{ row.TrackNo }}</td>
                    <td>{{ row.TrackName }}</td>
                    <td>{{ row.Time }}</td>
                    <td class="colour-rank" data-sort="{{ row.StandardNum }}">{{ row.Standard }}</td>
                    <td>{{ row.StandardDiff }}</td>
                    <td>{{ row.WR }}</td>
                    <td class="colour-diff" data-sort="{{ row.WRDiffNum }}">{{ row.WRDiff }}</td>
                    <td>{{ "%.3f"|format(row.WRDiffNorm) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-8">
            <!-- Chart -->
            <canvas id="timeProgressChart"></canvas>

            <!-- Add new time form -->
            <form method="POST" action="{{ url_for('insert_time') }}" class="row g-3 form-inline">
                <input type="hidden" name="track" value="{{ track_name }}">
                <input type="hidden" name="cc" value="{{ selected_cc }}">
                <input type="hidden" name="items" value="{{ selected_items }}">
            
                <!-- Time Input -->
                <div class="col-md-3">
                    <input type="text" name="time" id="time" class="form-control" placeholder="1:23.456" pattern="^(\d+):(\d{2})\.(\d{3})$" required>
                </div>
            
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <!-- Toggle chart features -->
            <button id="toggleWR" class="btn btn-outline-secondary">Toggle WR Line</button>
            <button id="toggleScale" class="btn btn-outline-secondary">Toggle Log Scale</button>
        </div>
        <div class="col-md-4">
            <!-- Times datatable -->
            <table class="table table-sm hover compact" id="timesTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Impr</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in times %}
                    <tr>
                        <td>{{ times|length - row.Num + 1 }}</td>
                        <td>{{ row.Time }}</td>
                        <td>{% if row.Impr is not none %} -{{ row.Impr }} {% endif %}</td>
                        <td>
                            <button class="btn btn-danger delete-btn icon-link"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    data-id="{{ row.RowId }}"
                                    data-track="{{ track_name }}"
                                    data-time="{{ row.Time }}"
                                    data-cc="{{ selected_cc }}"
                                    data-items="{{ selected_items }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const times = {{ times | tojson | safe }}
        const indices = times.map(t => t.Num);
        const timesStr = times.map(t => t.Time).reverse();
        const timesSec = times.map(t => t.TimeNum).reverse();

        const wrSec = {{ wr[1] | tojson }};
        const wrStr = {{ wr[0] | tojson }};

        let wrLabels = [...indices];
        let wrData = indices.map(() => wrSec);

        if (wrLabels.length < 2) {
            // If less than one data point, add a fake point to draw the wr line
            wrLabels = [1, 2];
            wrData = [wrSec, wrSec];
        }
        console.log(indices)
        console.log(wrLabels)
    </script>
    <script type="module" src="{{ url_for('static', filename='track.js') }}"></script>
    <script src="{{ url_for('static', filename='delete_time.js') }}"></script>
{% endblock %}
